[package]
name = "bitbucket_server_cli"
version = "0.1.0"
authors = ["Jens Brimfors <jens.brimfors@nordnet.se>"]
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
